@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
}
